body {
  font-family: Arial;
  text-align: center;
  background: #222;
  color: white;
}

.controls {
  margin: 15px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: #444;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background: #666;
}

#restartBtn {
  display: none;
  padding: 10px 20px;
  margin-top: 15px;
}
